# only keep relevant arkcmake files
arkcmake/*
!arkcmake/updateArkcmake.py
!arkcmake/autobuild.py
!arkcmake/get_build_path.py
!arkcmake/FindMAVLink.cmake
!arkcmake/FindSimGear.cmake
!arkcmake/DefineCMakeDefaults.cmake
!arkcmake/DefineCompilerFlags.cmake
!arkcmake/MacroCheckCCompilerFlagSSP.cmake
!arkcmake/MacroEnsureOutOfSourceBuild.cmake
!arkcmake/ExternalProjectWithFilename.cmake
